body {
    font-family: Arial, sans-serif;
}

#popupForm {
    padding: 10px 20px;
    font-size: 16px;
}

.form-popup {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid #f1f1f1;
    z-index: 9;
    background-color: rgba(255, 204, 0, 0.887);
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.form-container {
    max-width: 300px;
}

.form-container h2 {
    text-align: center;
}

.form-container input[type="text"], .form-container input[type="email"], .form-container textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.form-container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.form-container .btn:hover {
    opacity: 1;
}

.form-container .cancel {
    background-color: red;
}