*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    height: fit-content;
    width: fit-content;
}

.navbar{
    background-color:   #524D4D;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
}
.nav-links {
    display: flex;
    text-decoration: none;
    margin-top: 10px;
    list-style: none;
   
   
}
.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 2em;
  }
.nav-links li {
    margin: 0 15px;
  }
.join-btn{
    background-color:orange;
    /* height: 55px;
    width: 120px;
    border-radius: 8%; */
    height: 40px;
    width: 80px;
    border-radius: 10px;
    font-size:1.2rem;
    margin-bottom: 10px;
    box-shadow: 5px 5px 3px #9f8336;
}

body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}
.container1{
    background-image: url("./images/Rectangle\ 137.png");
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.title{
    color: white;
    font-size: 5rem;
    font-weight: 700;
    font: Radio Canada;
    margin-bottom: 50px;
    
}
.para{
    color: #D7D0D0;
    margin-bottom: 50px;
}
#btn1{
    background-color: #FFA500;
    height: 56px;
    width: 207px;
    border-radius: 8px;
    color: #fff;
    font-size: x-large;
    margin-right: 10px;
}
#btn2{
    background-color: #4D4848;
    height: 56px;
    width: 207px;
    border-radius: 6px;
    color: #fff;
    font-size: x-large;
    border: 2px solid orange;
}
.vector{
    padding-right: 0px;
}
.socialsites{
 position: absolute;
   height: 76px;
   width: 337px;
   background-color: orange;
   display: flex;
   justify-content:center;
   align-items: center;
   border-radius: 7px;
   border: 2px solid white;
   clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
   
   top: 95%;
   left: 0%;
}
.container2{
    background-color:#fff;
    height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(220, 177, 95);
    
}
.ruler{
    height: 3px; /* Increase the thickness */
    width: 80%; /* Adjust the width to cut from left and right */
    background-color: black; /* Change the color */
    border: none; /* Remove the default border */
    margin: 0 auto;
}
.socialsites img{
margin-right: 40px;
}

.cards img{
height: 100px;
width: 100px;
border-radius: 50%;

}
.cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    /* row-gap: 2rem;
    column-gap: 2.5rem; */
    position: relative;
}
.container3{
    padding: 30px 100px 100px 100px;
    background-image: url(./images/Rectangle\ 19.png);
    background-size: cover;
    background-position: center;

    background-repeat: no-repeat;
}
.subsplan{
    text-align: center;
    color: orange;
    padding-top: 40px;
    font-weight: 400;
    font-size: 3rem;
}
#plans{
    height: 400px;
    width: 280px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    filter: blur(0.5px);

    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
}
.subscards{
    display: flex;
    justify-content: space-around;
    align-items: center; 
}
#plantitle{
    font-size: 2rem;
    color:rgb(255, 170, 14);
  

}
#noofmonths{
    color: #A49B9B;
    margin-top: 10px;
    text-align: center;
}
#peryear{
    font-size: 2.3rem;
    color: rgb(255, 170, 14);;
}
#forstreaming{
    color:#A49B9B ;
    font-size: 1.3rem;
    margin-top: 10px;
    text-align: center;
}
#Selectplanbtn{
    height: 50px;
    width: 150px;
    border-radius: 5px;
    background-color: #524D4D;
    border: 3px solid orange;
    color: white;
    font-size: 1.3rem;
}
.container4{
    background-color: #FFBD45;
    width: 100%;
    height: 70vh;
    position: relative;
}
.club-img{
    background-image: url(./images/Rectangle\ 145.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: calc(100vh - 60vh);
}
.container5{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    height: 100vh;
}
.actorpic p{
    color: #FFA500;
    padding: 40px;
    font-size: 1.3rem;
}
.footer{
  height: 50vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.fitnesslogo img{
    height: 105px;
    width: 290px;
}
.fitnesslogo  p{
    color: #FFA500;
    font-size: 1.3rem;
    text-align:center;
    padding-left: 5px;
}
.company{
    margin-left: 10px;
}
.company h3{
    color:white;
    font-size: 1.5rem;
}
.footerlist{
   list-style: none;
   margin-top: 10px;
}
.footerlist li{
    font-size: 1.2rem;
     margin-bottom: 20px;
}
.footerlist li a{
    color: white;
}
.Contact{
    margin-left: 10px;
}
.Contact h3{
    color:white;
    font-size: 1.5rem;
}

.More{
    margin-left: 10px;
}
.More h3{
    color:white;
    font-size: 1.5rem;
}


.x{
    height: 50vh;
    background-color: #524D4D;
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr 1.5fr;
    column-gap: 10px;
    padding-top: 100px;
    padding-left: 5pxpx;

}
.btnfooter{
    height: 50px;
    width: 100px;
    background-color: #524D4D;
    color:white;
    font-size: 1.3rem;
    margin: 5px 5px;
}
.Populartags h3{
    color: #FFA500;
    margin-bottom: 10px;
    font-size: 1.3rem;
}
.anotherfooterbtn{
    background-color: #FFA500;
}
.copyright{
    height: 10vh;
    background-color: #FFA500;
    display: grid;
    justify-content: center;
    align-items: center;
    word-spacing: 0.3rem;
}
.club-items{
    height: 200px;
    width: 80%;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    position: relative;
    bottom: 20%;
    text-align: center;
    align-items: center; 
}
.btn{
    display: flex;

}
@media (max-width:768px){
    .btn{
        flex-direction: column;
        gap: 10px;
        height: 150px;
        width:200px;
    }
   .btnfooter{
    height: fit-content;
    width: fit-content;
   }
}
@media(max-width:768px){
    .cards{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        column-gap: 4rem;
       }
    .subscards{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .club-items{
        display: flex;
        justify-content: space-between;
        height: 30%;
    }
    .club-item h4{
        margin: 10px;
        font-size: 1.1rem;
    }
    .club-item p{
        text-align: center;
        margin-bottom:5px ;
    }
    .container5{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px;
        height: fit-content;
    }
   
}
.hamburger{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 40px;
    height: 8px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
   background-color: rgb(159, 158, 154);
}
@media(max-width:768px){
    .hamburger{
        display: block;
        
    }
    .hamburger.active.bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active.bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active.bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-links{
        position: relative;
        right: 0%;
        top: 10%;
        gap: 0;
        flex-direction: column;
        background-color:rgb(39, 38, 37);
        width: 70%;
        
        text-align: center;
        transition: 0.3s;
    }
    .nav-items{
        margin: 16px 0;
    } 
    .nav-links.active{
        display: none;
    }
    .navbar{
        padding-right: 10pxs;
    }
    .x{
        height: fit-content;
    
    }
    .copyright{
        
        align-items: center;
        margin: auto;
        background-color: #FFA500;
        height: 100px;
    }
    .copyright h3{
        margin-top: 50px;
    }
   .club-items{
    height: fit-content;
   }
    }
a:hover{
    color: #FFA500;
}
.img1{
   height: 200px;
   width: 200px;
    border-right: 4px solid black;
    border-bottom: 2px solid black;
    padding: 10px;
}
.img2{
    border-right: 4px solid black;
    border-bottom: 2px solid black;
    padding: 10px;
}

.img4{
    border-right: 4px solid black;
    border-top: 2px solid black;
    padding: 10px;
}
.img5{
    border-right: 4px solid black;
    border-top: 2px solid black;
    padding: 10px;
}
.img6{
    
    border-top: 2px solid black;
    padding: 10px;

}.img3{
    
    border-bottom: 2px solid black;
    padding: 10px;

}
@media(max-width:768px){
    
    .img1{
        border-right: 4px solid black;
        border-bottom: 4px solid black;
        border: none;
        margin: 10px;
        height: 100px;
        width: 100px;
    }
    .img2{
        border-left: 4px solid black;
        border-right: none;
        border: none;
        margin: 10px;
    }
    .img3{
        border-right: 4px solid black;
        border: none;
        margin: 10px;
    }
    .img4{
        border-left: 4px solid black;
        border-right: none;
        border-bottom: 4px solid black;
        border: none;
        margin: 10px;
    }
    .img6{
        border-left: 4px solid black;
        border-top: none;
        border: none;
        margin: 10px;
    }
    .img5{
        border: none;
        margin: 10px;
    }
   
}




/* Form Popup */
.form-popup {
    display: none;
    position: fixed;
    z-index: 9;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.form-container {
    background-color: rgb(232, 180, 95);
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    position: relative;
}

.close-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 30px;
    cursor: pointer;
}

form h2 {
    text-align: center;
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-bottom: 10px;
}



form input{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#emailContact{
    width: fit-content;
}
#phoneContact{
    width: fit-content;
}

.submit-btn:hover {
    background-color: #45a049;
}